@import "tailwindcss";

/* Add this below the import */
body {
  /* Since file is in 'public', we reference it from root '/' */
  background-image: url('/aero-bg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps clouds still while scrolling */
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
}